## Loading files into mongodb

In [1]:
from pymongo import MongoClient # Install for using this lib.
import subprocess

In [2]:
dbname = 'test'
collection_name1 = 'reviews'
collection_name2 = 'business'
collection_name3 = 'users'

path = "/Users/alvira/Desktop/distributedData/project/"

input_file_name1 = path+"review.json"
input_file_name2 = path+'business.json'
input_file_name3 = path+'user.json'

In [3]:
def import_query(dbname, collection_name, input_file_name):
    mongoimport_query =  'mongoimport --db ' + dbname + ' --collection ' + collection_name + ' --file ' + input_file_name
    #COMPLETE THIS.
    return mongoimport_query
 
#Create connection 
client = MongoClient() #default-localhost:27017
#Connect to database
db = client[dbname]

#Drop table.
db[collection_name1].drop()
db[collection_name2].drop()
db[collection_name3].drop()

#Insert all data from the input_file_name.

In [4]:
mongoimport_query = import_query(dbname, collection_name1, input_file_name1)
subprocess.call(mongoimport_query,shell=True)

mongoimport_query = import_query(dbname, collection_name2, input_file_name2)
subprocess.call(mongoimport_query,shell=True)

mongoimport_query = import_query(dbname, collection_name3, input_file_name3)
subprocess.call(mongoimport_query,shell=True)

0

## Keep only restaurants

In [5]:
restaurants = db.business.find({ '$or' : [ { "attributes.RestaurantsReservations" : {'$exists' : 'true'} }, { "attributes.RestaurantsDelivery" : {'$exists':'true'}}, 
                            { "attributes.RestaurantsAttire" : {'$exists':'true'}}, { "attributes.RestaurantsCounterService" : {'$exists':'true'}}, 
                            { "attributes.RestaurantsGoodForGroups" : {'$exists':'true'}}, { "attributes.RestaurantsPriceRange2" : {'$exists':'true'}}, 
                            { "attributes.RestaurantsTableService" : {'$exists':'true'}}, { "attributes.RestaurantsTakeOut" : {'$exists':'true'}}, 
                            { "attributes.GoodForMeal" : {'$exists':'true'}}]})

We'll have to rewrite the restaurants into mongo db or so, or just filter the business db to contain only those that are in restaurants. I've just created a filtered list for now.

In [6]:
len(list(restaurants))

99566

#### Finding restuarants having review counts greater than 25

In [34]:
restaurants = db.business.find({ '$or' : [ { "attributes.RestaurantsReservations" : {'$exists' : 'true'} }, { "attributes.RestaurantsDelivery" : {'$exists':'true'}}, 
                            { "attributes.RestaurantsAttire" : {'$exists':'true'}}, { "attributes.RestaurantsCounterService" : {'$exists':'true'}}, 
                            { "attributes.RestaurantsGoodForGroups" : {'$exists':'true'}}, { "attributes.RestaurantsPriceRange2" : {'$exists':'true'}}, 
                            { "attributes.RestaurantsTableService" : {'$exists':'true'}}, { "attributes.RestaurantsTakeOut" : {'$exists':'true'}}, 
                            { "attributes.GoodForMeal" : {'$exists':'true'}}], 
                    "review_count":{"$gt": 25}})

In [35]:
rest = list(restaurants)

In [ ]:
# Collecting business ID's
business_ids = []
for i in range(len(rest)):
    business_ids.append(rest[i]['business_id'])

In [68]:
len(business_ids)

30152

In [ ]:
# list(db.business.find({ '$or' : [ { "attributes.RestaurantsReservations" : {'$exists' : 'true'} }, { "attributes.RestaurantsDelivery" : {'$exists':'true'}}, 
#                             { "attributes.RestaurantsAttire" : {'$exists':'true'}}, { "attributes.RestaurantsCounterService" : {'$exists':'true'}}, 
#                             { "attributes.RestaurantsGoodForGroups" : {'$exists':'true'}}, { "attributes.RestaurantsPriceRange2" : {'$exists':'true'}}, 
#                             { "attributes.RestaurantsTableService" : {'$exists':'true'}}, { "attributes.RestaurantsTakeOut" : {'$exists':'true'}}, 
#                             { "attributes.GoodForMeal" : {'$exists':'true'}}]}))

#### Filtering users (having reviews count greater than 25)

In [64]:
filtered_users = db.users.find({"review_count":{"$gt": 25}})

In [65]:
user = list(filtered_users )

In [66]:
user_ids = []
for i in range(len(user)):
    user_ids.append(user[i]['user_id'])

In [67]:
len(user_ids)

203189

#### Filtering reviews basis above user_id & business_id and stars

In [76]:
len(list(db.reviews.find()))

4736897

In [84]:
filtered_reviews = db.reviews.find({"user_id": {'$in':user_ids}, "business_id": {'$in':business_ids}, 
                                    "stars": {'$in':[1,2,3,4,5]}})

In [85]:
review = list(filtered_reviews )

In [87]:
len(review)

1727718

In [86]:
db.restaurant.drop()

1727718

Find a way to save restaurants as a table. This doesnt work:

In [ ]:
db.restaurant.insert(restaurants)

## Load tables into pyspark

In [6]:
reviews = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri","mongodb://127.0.0.1/test.reviews").load()

# Replace with only restaurants
business = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri","mongodb://127.0.0.1/test.business").load()

users = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri","mongodb://127.0.0.1/test.users").load()

In [10]:
reviews.show(1)

+--------------------+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
|                 _id|         business_id|cool|      date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
|[5a5a5e8eda8b9b57...|uYHaNptLzDLoV_JZ_...|   0|2016-07-12|    0|VfBHSwC5Vz_pbFluy...|    5|My girlfriend and...|     0|cjpdDjZyprfyDG3Rl...|
+--------------------+--------------------+----+----------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 1 row

In [13]:
business.show(10)

+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+-------+----------+------------+--------------------+-------------+-----------+------------+-----+-----+
|                 _id|             address|          attributes|         business_id|          categories|            city|               hours|is_open|  latitude|   longitude|                name| neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+-------+----------+------------+--------------------+-------------+-----------+------------+-----+-----+
|[5a5a5f23da8b9b57...|7702 E Doubletree...|[null,null,null,n...|CVtCbSB1zUcUWg-9T...|[Professional Ser...|      Scottsdale|[9:00-17:00,9:00-...|      1|33.5650816|-111.9164003|            TRUmatch|             |      85258|           3|  3.0|   AZ|
|[5a5a5f23da8b9b57...|      4719 N 20Th St|[null,null,none,[...|duHFBe87uNSXImQmv...|[Sandwiches, Rest...|         Phoenix|[null,null,null,n...|      0|33.5059283|-112.0388474|             Blimpie|             |      85016|          10|  4.5|   AZ|
|[5a5a5f23da8b9b57...|     691 Richmond Rd|[null,null,null,n...|YDf95gJZaq05wvo7h...|[Shopping, Shoppi...|Richmond Heights|[10:00-21:00,10:0...|      1|41.5417162| -81.4931165|Richmond Town Square|             |      44143|          17|  2.0|   OH|
|[5a5a5f23da8b9b57...| 2017 E Camelback Rd|[null,null,null,n...|uUEMrhJiL1a1pCA_I...|[Shopping, Tobacc...|         Phoenix|[10:00-21:00,10:0...|      0|33.5080678|-112.0375524|     Baxter's Cigars|             |      85016|          35|  5.0|   AZ|
|[5a5a5f23da8b9b57...| 337 Danforth Avenue|[null,null,null,n...|v2WhjAB3PIBA8J8Vx...|[Food, Coffee & Tea]|         Toronto|[10:00-19:00,10:0...|      0|43.6771258| -79.3532848|    The Tea Emporium|    Riverdale|    M4K 1N7|           7|  4.5|   ON|
|[5a5a5f23da8b9b57...|      2824 Milton Rd|[null,null,null,[...|mLwM-h2YhXl2NCgdS...|[Food, Soul Food,...|       Charlotte|[10:00-22:00,10:0...|      0|  35.23687| -80.7419759|South Florida Sty...|     Eastland|      28215|           4|  4.5|   NC|
|[5a5a5f23da8b9b57...|  3220 Washington Rd|[null,null,null,n...|kFtuYklkAIlmYw8RZ...|[Jewelry Repair, ...|        McMurray|[10:00-18:00,10:0...|      1|40.2904976| -80.1100212| JAB Jewelry Designs|             |      15317|           7|  5.0|   PA|
|[5a5a5f23da8b9b57...|4425 N 24th St, S...|[true,null,null,n...|2eJEUJIP54tex7T9Y...|[Chiropractors, H...|         Phoenix|[9:00-12:00,14:30...|      1|33.5028476| -112.012696|Back-Health Chiro...|             |      85016|          19|  5.0|   AZ|
|[5a5a5f23da8b9b57...|      5770 Butler St|[null,null,null,n...|fEylCY3UEH8YJ0Xa7...|[Automotive, Oil ...|      Pittsburgh|[8:00-17:00,8:00-...|      1|40.4859391| -79.9437273|       Auto Bathouse|Lawrenceville|      15201|          16|  2.5|   PA|
|[5a5a5f23da8b9b57...|1425 S Higley Rd,...|[true,null,null,n...|NqiQdFa93wzUJGo29...|[Health & Medical...|         Gilbert|[7:30-11:00,7:30-...|      1|33.3245392|-111.7204486|Neighborhood Visi...|             |      85296|           8|  5.0|   AZ|
+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+-------+----------+------------+--------------------+-------------+-----------+------------+-----+-----+
only showing top 10 rows

In [12]:
users.show(1)

+--------------------+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+----+------------+------+--------------------+-------------+
|                 _id|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer| cool|               elite|fans|             friends|funny|name|review_count|useful|             user_id|yelping_since|
+--------------------+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+----+------------+------+--------------------+-------------+
|[5a5a5eaada8b9b57...|          3.8|           5174|            284|            5174|          5175|             78|            299|           1435|             7829|            7397|               569|             1834|16856|[2014, 2016, 2013...| 209|[M19NwFwAXKRZzt8k...|16605| Cin|         272| 17019|lsSiIjAKVl-QRxKjR...|   2010-07-13|
+--------------------+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+----+------------+------+--------------------+-------------+
only showing top 1 row

In [14]:
business.select('attributes')

DataFrame[attributes: struct<AcceptsInsurance:boolean,AgesAllowed:string,Alcohol:string,Ambience:struct<casual:boolean,classy:boolean,divey:boolean,hipster:boolean,intimate:boolean,romantic:boolean,touristy:boolean,trendy:boolean,upscale:boolean>,BYOB:boolean,BYOBCorkage:string,BestNights:struct<monday:boolean,tuesday:boolean,friday:boolean,wednesday:boolean,thursday:boolean,sunday:boolean,saturday:boolean>,BikeParking:boolean,BusinessAcceptsBitcoin:boolean,BusinessAcceptsCreditCards:boolean,BusinessParking:struct<garage:boolean,lot:boolean,street:boolean,valet:boolean,validated:boolean>,ByAppointmentOnly:boolean,Caters:boolean,CoatCheck:boolean,Corkage:boolean,DogsAllowed:boolean,DriveThru:boolean,GoodForDancing:boolean,GoodForKids:boolean,GoodForMeal:struct<dessert:boolean,latenight:boolean,lunch:boolean,dinner:boolean,breakfast:boolean,brunch:boolean>,HairSpecializesIn:struct<africanamerican:boolean,asian:boolean,coloring:boolean,curly:boolean,extensions:boolean,kids:boolean,perms:boolean,straightperms:boolean>,HappyHour:boolean,HasTV:boolean,Music:struct<dj:boolean,background_music:boolean,no_music:boolean,karaoke:boolean,live:boolean,video:boolean,jukebox:boolean>,NoiseLevel:string,Open24Hours:boolean,OutdoorSeating:boolean,RestaurantsAttire:string,RestaurantsCounterService:boolean,RestaurantsDelivery:boolean,RestaurantsGoodForGroups:boolean,RestaurantsPriceRange2:int,RestaurantsReservations:boolean,RestaurantsTableService:boolean,RestaurantsTakeOut:boolean,Smoking:string,WheelchairAccessible:boolean,WiFi:string>]